@import "../../../public/vendor/bootstrap/css/bootstrap.css";
@import "../../../public/vendor/owl-carousel/assets/owl.carousel.min.css";
@import "../../../public/vendor/photoswipe/photoswipe.css";
@import "../../../public/vendor/photoswipe/default-skin/default-skin.css";
@import "../../../public/vendor/select2/css/select2.min.css";
@import "../../../public/vendor/fontawesome/css/all.min.css";

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/roboto-v48-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
